<div class="split-lists">

  {{ range $key, $value := .Site.Params.links }}
    {{ range $key, $list := $value }}

    {{ if $list.link }}
      <div class="split-list">
        <h3>{{ $list.heading }}</h3>
        <ul>
          <li><a id="mailto-link" href="mailto:marcus@codaline.io" title="Mail me...">E-mail</a></li>
          <li>|</li>
          <li><a href="https://github.com/marcuskirsch" title="Fork me...">Github</a></li>
        </ul>
      </div>
    {{ end }}

    {{ end }}
  {{ end }}

</div>
